body {
      font-family: Futura; Sans Serif;
      background-color: black;
      color: #D40E0E;

}



h1 {
    text-align: center;
    color: #D40E0E;
}

img {
    width: 520px;
    height: auto;

}
